﻿@using Bank.Atm.ViewModels
@model WithdrawalResultViewModel
@if (@Model.IsSuccessful)
    {
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong>Success!</strong> @Model.Message
    </div>
    }
    else
    {
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong>Error!</strong> @Model.Message
    </div>    
    }
