﻿<div class="jumbotron">
    <h1>ATM</h1>
    <p class="lead">Automated teller machine</p>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-md-6 col-md-offset-3">
        @Html.ActionLink("Withdraw money", "Withdraw", "Card",
                           null, new { @class = "btn btn-primary btn-block " })
        @Html.ActionLink("Operations", "Operations", "Card",
                           null, new { @class = "btn btn-success btn-block" })
        @Html.ActionLink("Exit", "SignOut", "Account",
                           null, new { @class = "btn btn-danger btn-block" })
    </div>
</div>
