﻿@using Bank.Atm.ViewModels
@model List<OperationViewModel>
@{
    ViewBag.Title = "Operations";
}

<h3>Operations of card № @User.Identity.Name</h3>
   
<table class="table table-hover table-condensed">
    <tbody>
        @foreach (var group in (Model.GroupBy(o =>
                    new DateTime(o.OperationTime.Year, o.OperationTime.Month, o.OperationTime.Day))))
         { 
            <tr class="warning">
                <td><strong>@group.Key.ToShortDateString() </strong></td>
                <td><strong>Amount </strong></td>
                <td class="text-right"><strong>New balance </strong></td>
            </tr>
            foreach (var op in group)
            {
                <tr>
                    <td> &nbsp; at @op.OperationTime.ToLongTimeString() </td>
                    <td> &nbsp; @(op.Amount * (op.IsCredit ? -1 : 1)) $ </td>
                    <td class="text-right"> &nbsp; @op.CardBalance $ </td>
                </tr>
            }
         }
    </tbody>
</table>