﻿@using Bank.Atm.ViewModels
@model WithdrawalResultViewModel
@{
    ViewBag.Title = "Withdraw money";
}
@if (Model != null)
{
    <br/>
    @Html.Partial("_withdrawalResult")
}

@using (Html.BeginForm())
{
    <h3>Amount for withdraw:</h3>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" id="Amount" name="Amount" aria-label="Amount">
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Withdraw" />
}
