﻿@using Bank.Atm.ViewModels
@model CardLoginViewModel
@{
    ViewBag.Title = "Sign in";
}

<h2>@ViewBag.Title :</h2>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm())
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(m => m.CardNumber, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.CardNumber, new { @class = "input-xlarge text-center", maxlength = 16 })
            </div>
            @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.PinCode, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.PinCode, new { @class = "input-xlarge text-center", maxlength = 4, size = 4 })
            </div>
            @Html.ValidationMessageFor(m => m.PinCode, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Enter" class="btn btn-success" />
            </div>
        </div>
    </fieldset>

}

