﻿@if (User.Identity.IsAuthenticated)
{
<li>@Html.ActionLink("Operations", "Operations", "Card") </li>
<li>@Html.ActionLink("Withdraw money", "Withdraw", "Card")</li>
<li>@Html.ActionLink("Exit", "SignOut", "Account")</li>
}